@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss"
@import "helpers"
@import "variables"

@import "base"
@import "nav"
@import "buttons"

@import "dashboard"
@import "banner"
@import "link-detail"
@import "link-list-item"
@import "link-tags"
@import "link-label"
@import "twitter-button"

.chart-legend
	float: left
	margin-right: 15px

	+ canvas
		margin-left: 15px

	&__label
		margin-left: 8px
		line-height: 24px
		font-size: 14px


	&__color-box
		position: relative
		top: 1px
		display: inline-block
		width: 15px
		height: 15px
		width: 12px
		height: 12px
		border-radius: 100px