@import 'variables'
@import 'buttons'

body
	margin: 0
	width: 100%
	height: 100%

#ContentFrame
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 0;
	height: 100%;
	min-width: 100%;
	width: 10px;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;

#BannerFrame
	display: table;
	border: 0;
	border-radius: 5px 5px 0 0;
	opacity: 0.95;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 100%;
	height: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	z-index: 999999;
	background-color: #fff;
	text-align: center;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;


.link-banner
	position: relative
	text-align: center
	vertical-align: middle
	height: 50px
	font-family: 'Open Sans', sans-serif

	&__brand
		position: absolute
		text-align: left
		width: 20%
		float: left
		color: #333

		@media (max-width: 700px)
			width: 50px

		a
			float: left

		img
			border-top-left-radius: 5px;

		&__name
			width: calc(100% - 60px);
			line-height: 50px
			text-transform: uppercase
			color: #222222
			font-size: 14px
			padding-left: 10px
			opacity: 0.6
			white-space: nowrap
			text-overflow: clip
			overflow: hidden
			text-decoration: none

			&:hover
				color: #222222
				opacity: 0.8
				cursor: pointer
				text-decoration: underline

			@media (max-width: 700px)
				display: none


	&__message_wrapper
		padding: 0 20%
		display: table
		margin: 0 auto
		height: 50px

		@media (max-width: 700px)
			padding: 0
			padding-left: 50px

	&__message
		display: table-cell
		vertical-align: middle
		color: rgb(34, 34, 34)
		font-weight: 600
		font-size: 16px
		line-height: 20px


		@media (max-width: 700px)
			font-size: 11px

	&__cta-button
		float: right
		height: 36px
		line-height: 36px
		display: block;
		font-size: 16px
		padding: 0px 15px
		min-width: 80px
		background-color: #57A988
		text-decoration: none
		white-space: nowrap
		cursor: pointer
		border-radius: 5px
		text-transform: uppercase
		color: #fff
		margin-top: 8px
		margin-left: 15px
		font-weight: 600

		&:hover,
		&:active,
		&:target,
		&:focus,
		&:active:focus
			text-decoration: none
			color: #fff
			background-color: darken(#57A988, 5%)
			cursor: pointer


		@media (max-width: 700px)
			font-size: 11px
			margin-right: 10px

	&__overlay
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 9
		padding-top: 5%
		text-align: center

	&__close
		position: absolute
		right: 0
		top: 0
		height: 50px
		line-height: 50px
		padding-right: 10px
		text-decoration: none
		font-size: 20px
		color: #222222
		opacity: 0.4
		cursor: pointer
		float: right
		transition: all .3s

		&:hover
			opacity: 0.6
			color: #222222
			text-decoration: none


		@media (max-width: 700px)
			display: none