=btn($color, $bgColor: transparent)
	color: $color
	background-color: $bgColor
	position: relative
	display: inline-block
	border: 0
	padding: 10px 20px
	outline: none !important
	transform: matrix(1, 0, 0, 1, 0, 0)
	transition-delay: 0s
	transition-duration: 0.45s
	transition-property: all
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1)
	box-shadow: none

	+states($color, $color, 40%)

	&:active:not(:hover),
	&:focus:not(:hover),
		background-color: transparent


	+ .btn
		margin-left: 8px

	& > .material-icons
		position: absolute
		top: 4px
		left: 4px
		font-size: 22px
		height: 20px
		width: 20px

		+ span
			padding-left: 17px

=btn-raised($color, $bgColor)
	color: $color
	background-color: $bgColor
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms

	&:active
		box-shadow: rgba(0,0,0,0.156863) 0px 3px 10px, rgba(0,0,0,0.227451) 0px 3px 10px

	+states($color, $bgColor)


=states($color, $bgColor, $lighten: 20%)
	&:hover,
	&:target,
	&:focus:hover,
	&:active:focus,
	&:active:hover
		color: $color
		background-color: lighten($bgColor, $lighten)
		text-decoration: none


	&:active:not(:hover),
	&:focus:not(:hover),
		background-color: $bgColor


.btn-material
	border-radius: 0
	overflow: hidden
	outline: none

	span
		display: block
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		position: relative
		overflow: hidden

		&:hover
			cursor: pointer

	.circle
		display: block
		position: absolute
		background: rgba(0, 0, 0, 0.075)
		border-radius: 50%
		-webkit-transform: scale(0)
		-ms-transform: scale(0)
		transform: scale(0)

	.circle.animate
		-webkit-animation: effect 0.45s linear
		animation: effect 0.45s linear


	@-webkit-keyframes effect
		100%
			opacity: 0
			-webkit-transform: scale(2.5)
			transform: scale(2.5)



	@keyframes effect
		100%
			opacity: 0
			-webkit-transform: scale(2.5)
			transform: scale(2.5)



.btn-raised
	&.btn-default
		+btn-raised(#444, #fff)

	&.btn-primary
		+btn-raised(#fff, $btn-primary)

	&.btn-danger
		+btn-raised(#fff, $btn-danger)

.btn-default
	+btn(#444)

.btn-primary
	+btn($btn-primary)

.btn-danger
	+btn($btn-danger)

// .btn-flat
// 	box-shadow: none

// 	&.btn-default,
// 	&.btn-primary,
// 	&.btn-danger
// 		background: transparent

// 	&.btn-default
// 		+states(#444, #444, 60%)

// 	&.btn-danger
// 		+btn-flat($btn-danger)



