.screen-title
	font-size: 36px
	font-weight: 300

	&__small
		font-size: 28px
		color: #808080

.screen-header
	margin-bottom: 20px
	margin-top: 10px

.link-section
	&__stats
		text-align: center
		margin-top: -2px
		margin-bottom: 8px
		border-right: 1px solid #CACACA

		&:last-child
			border-right: none

		&__label
			text-transform: uppercase

		&__value
			font-size: 22px
			font-size: 22px;

.action-buttons
	display: inline-block
	float: right

.no-data-message
	margin-top: 50px
	text-align: center
	font-size: 30px
	line-height: 50px
	color: #D32F2F