.link-list
	a
		text-decoration: none

		&:first-child
			.link-list-item
				border: 1px solid #E6E6E6
				border-radius: 4px 4px 0 0

		&:last-child
			.link-list-item
				border-radius: 0 0 4px 4px

.link-list-item
	padding: 10px 15px
	border: 1px solid #E6E6E6
	border-top: 0
	cursor: pointer
	position: relative

	.link-label
		margin-top: 10px

	&:hover
		background-color: #F3F3F3

	&--selected
		background-color: #F3F3F3
		border-color: #E2E2E2
		margin-bottom: 0

		& + .link-list-item
			margin-top: -1px

	&__date
		text-align: right
		color: #969696
		font-size: 12px
		float: right

	&__title
		@extend .ellipsis
		font-size: 18px
		margin-bottom: 10px

	&__own_link
		color: #776b5d

	&__click-rate
		position: absolute
		right: 15px
		bottom: 10px
		font-size: 12px

		&--up
			color: #4CAF50

		&--down
			color: #F44336

