.link-label
	background: #ccc
	display: inline-block
	padding: 6px
	font-size: 11px
	line-height: 11px
	font-weight: 300
	min-width: 90px
	text-align: center
	color: #fff
	text-transform: uppercase
	margin-right: 5px

	&:last-child
		margin-right: 0

	&--redirect
		background-color: #00BCD4

	&--cta
		background-color: #E91E63

	&--pin
		background-color: #AB47BC

	&--warning
		background-color: #F44336

	&--facebook
		background-color: #3b5998

	&--twitter
		background-color: #55acee