.link-tags
	display: inline-block
	position: relative

	&-tagsinput-input
		outline: none
		border: 1px solid transparent
		line-height: 17px
		height: 24px
		padding-left: 5px
		transition: all .3s

		&:hover
			border: 1px solid #A2A2A2


	.link-label
		padding: 6px
		border-radius: 0
		border: 0
		position: relative
		transition: all 0.3s

		&:hover:not(.link-label--warning)
			padding-right: 20px

			.link-label__remove
				opacity: 1

		&__remove
			transition: all 0.3s
			opacity: 0
			color: #fff
			position: absolute
			top: 6px
			right: 8px

			&:before
				content: 'x'
				cursor: pointer
				font-weight: 400

		&--facebook
			background-color: #3b5998 !important

		&--twitter
			background-color: #55acee !important

		&--mail
			background-color: #4E342E !important

		&--warning
			background-color: #F44336 !important

.tag-completions
	position: absolute
	background-color: rgba(232, 232, 232, 0.85)
	top: 30px
	left: 15px
	width: 147px

	.link-label
		margin: 6px
		cursor: pointer
		width: 135px

		&:hover
			padding-right: 6px !important

		&:first-child
			margin-left: 6px
			margin-bottom: 0

		&:last-child
			margin-right: 6px

		&:only-child
			margin: 6px