.link-detail
	&__date
		text-align: right
		color: #969696
		font-size: 12px

	&__original
		padding: 15px 0

	&__title
		@extend .ellipsis
		font-size: 28px

	&__target
		@extend .ellipsis
		font-size: 12px
		color: #969696

	&__own
		font-size: 18px
		color: $brand-color

	&__note
		font-size: 18px
		margin-bottom: 10px


	&__copy_button
		font-size: 13px
		padding: 4px 16px
		margin-left: 10px
		position: relative
		bottom: 2px

		&.zeroclipboard-is-hover
			color: #9E9E9E
			background-color: #ebebeb

	&__stats
		text-align: center
		border-right: 1px solid #DCDCDC
		margin: 20px 0
		text-transform: uppercase

		&:last-child
			border-right: none

		h2
			font-size: 35px

.fieldset
	margin-bottom: 30px

	&__title
		font-size: 30px
		font-weight: 300
		margin-bottom: 10px
		margin-left: 10px
		// color: $brand-color

	&__body
		background-color: #fff
		padding: 20px
		box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12)

