.facebook-sharer
	-webkit-font-smoothing: antialiased
	background-color: rgb(78, 105, 162)
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v2/y1/r/wL6VQj7Ab77.png')
	background-position: 0px -335px
	background-repeat: repeat-x
	border-radius: 2px
	border: 1px solid rgb(60, 84, 136)
	border-bottom-color: rgb(51, 76, 131)
	border-left-color: rgb(60, 84, 136)
	border-right-color: rgb(60, 84, 136)
	border-top-color: rgb(67, 90, 139)
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px
	color: rgb(255, 255, 255)
	cursor: pointer
	display: inline-block
	font-family: helvetica, arial, sans-serif
	font-size: 12px
	font-weight: bold
	height: 22px
	line-height: 22px
	margin: 0
	padding: 0
	padding-right: 4px
	position: relative
	text-align: center
	text-decoration: none
	text-indent: 0px
	text-rendering: auto
	text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px
	text-transform: none
	vertical-align: middle
	white-space: nowrap
	word-spacing: 0px
	word-wrap: break-word
	writing-mode: lr-tb
	-webkit-writing-mode: horizontal-tb

	&:hover,
	&:active,
	&:target,
	&:focus,
	&:active:focus
		color: #fff
		text-decoration: none

	i
		background-image: url('https://static.xx.fbcdn.net/rsrc.php/v2/y5/r/KxVPs0eEy36.png')
		background-size: 30px 72px
		background-repeat: no-repeat
		display: inline-block
		height: 14px
		width: 14px
		background-position: 0 -42px
		left: 0
		margin: 0 4px 0 4px
		position: relative
		top: 3px
		vertical-align: top